FOOTBALL_API_KEY=
API_FOOTBALL_KEY=
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io
YOUTUBE_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=https://gzqapeavjpzgmdhrizqy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=[placeholder]
NEXT_PUBLIC_API_URL=http://localhost:3000

SUPABASE_URL=https://gzqapeavjpzgmdhrizqy.supabase.co
SUPABASE_ANON_KEY=[placeholder]
SUPABASE_SERVICE_ROLE_KEY=[placeholder-privado]
CRON_SECRET=
JWT_SECRET=
